.clear-btn{
    background-color: #fe9241;
    color: white;

    margin-top: 10px;
    margin: 5px;
    display: flex;
    height: 4em;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
    font-size: 1.4em;
    /*outline: 1px solid #888;linhas entre os números*/
    border-radius: 30px;
}